.logo{
left: 100%;
width:100px;
}

.navBox button {
font-weight:bold;
font-size: 16px;
display: block;
background-color: inherit;
color: black;
padding: 22px 16px;
width: 100%;
outline: none;
border: none;
text-align: left;
cursor: pointer;
transition: 0.3s;
}

.navBox button:hover {
background-color: #ddd;
}

.navBox button.active {
background-color: #ccc;
}
