.bulletinboard{
  margin-top: 2%;
}
.text{
  position: relative;
  margin-top: -27%;
  font-size: 57px;
  font-family: 'Jua', sans-serif;
  text-align: center;
  width: 100%;
  height: 300px;
  padding-top: 40px;
  letter-spacing: 8px;
}
.container{
  margin-left: 5%;
}
.tab_menu{
  width: 100%;
  line-height: 22.5px;
  overflow: hidden;
  margin-bottom: 30px;
  border-bottom: 1px solid #990e17;
  margin: 0px;
  padding: 0px;
}
.tab_menu ul{
  width: 110%;
  height: auto;
  list-style: none;
}
.tab_menu li a{
  width: auto;
  height: auto;
  color: black;
}
.tab_menu li {
  background-color: black;
}
.tab_menu ul li a{
  display: block;
  float: left;
  overflow: auto;
  padding: 13px 34px;
  border: 1px solid #dfdfdf;
  border-bottom: none;
  font-size: 18px;
  letter-spacing: -1px;
  margin-top: 5px;
  margin-right: -1px;
}
.tab_menu ul li a:hover{
  background-color: #990e17;
  color: white;
  text-decoration-line: none;
}
.board_area{
  float: right;
  margin: 0;
}
.search{
  position: relative;
  display: inline-block;
  width: 250px;
  box-sizing: border-box;
  height: 40px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 1px solid #2d2d2d;
  border-left: 0px;
  padding-right: 0px;
  background: #fff;
  vertical-align: top;
  font-size: 0 !important;
  float: right;
  margin: 0;
}
.input {
width: 100%;
height: 40px;
box-sizing: border-box;
padding: 0 5px;
border-top: 0px;
border-right: 0px;
border-bottom: 1px solid #2d2d2d;
border-left: 0px;
-webkit-appearance: none;
-webkit-border-radius: 0;
color: #2d2d2d;
font-size: 14px;
line-height: 38px;
}
.btn_search {
position: absolute;
right: 0;
top: 0;
overflow: hidden;
width: 40px;
height: 40px;
background: url(search.png) no-repeat 50% 50%;
background-size: 16px 16px;
text-indent: -100px;
border: 0px;
}
table{
  margin-top: 70px;
  color: black;
}
td a{
  color: black;
}
td a:hover{
  color: black;
}
th {
  border-top : 1px solid #990e17;
}
.main{
  width: 100%;
}
.submit{
  height: 40px;
  width: 100px;
  background-color: #990e17;
  text-align: center;
  padding-top: 8px;
  float: right;
}
.submit a{
  color: white;
}
.submit a:hover{
  text-decoration: none;
  color: white;
}
.Subject {
  background-image:url(inno.png);
  background-repeat: no-repeat;
}
