body{
  margin: 0px;
}
.footer{
  margin-top: 300px !important;
}
.line{
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    width:100%;
  }
.sejonglogo{
    position: relative;
    width: 6.5%;
    height: 90%;
    left: 15%;
    float: left;
  }
  .copyright{
    position: absolute;
    margin-left: 4%;
    width: 40%;
    height: 100px;
    left: 25%;
    margin-right: 0% !important;
  }
  .snsicon{
    position: relative;
    background-color: none;
    width: 15%;
    height: 90%;
    left: 70%;

  }
