.footer {
  box-shadow: 1px 1px 3px 1px grey  ;
  margin-left: auto;
  background-color: #f1f1f1;
  float:left;
  width:100%;
  overflow-x: hidden;
}

.footerBox {
  width:597px;
  height:100px;
  margin:0 auto;
}

.footer img {
  height:80px;
  margin-top:-10px;
}

.logo{
  float:left;
}

.copyright {
  margin-top:15px;
  text-align: right;
  float:left;
}

@@media (max-width:768) {
  .footer {
    width:100%;
  }
}
