body {
  background-color: #f1f1f1;
}
.slickSlides {
  height:500px;
  background-color: green;
}
.Board {
  margin-top:2%;
}

.boardX {
  margin-top:10px;
  background-color: white;
  float:left;
  margin-right:15px;
}

.Board {
  height:70%;
}
.slick {
  margin-top:50px;
  height:400px;
  background-color: green;
}
table tbody tr td{
  font-size:13px;
}
table tbody tr td a{
  color:black;
}
table tbody tr td a:hover{
  color:black;
}
h6 a {
  color:black;
  text-decoration: none;
}
h6 a:hover {
  color:black;
  text-decoration: none;
}

@media (max-width:768px) {
  .Board {
    margin-top:2%;
    margin-left:0;
  }
}
