body{
  margin: 0;
  overflow-x:hidden;
}
.TOP{
  background: #990e17;
  color: white;
  width: 100%;
  height: 40px;
  text-align: center;
  cursor: pointer;
}
.navBox {
  background-color: none;
  height:100px;
  width:100%;
}
.navShadow{
  background-color:none;
  height:100px;
  width:1200px;
  margin:0 auto;
}
.navLogo {
  float:left;
  width: 100px;
  height: 100px;
  background-color: none;
}
.navMenu {
  float:left;
  width:1000px;
  height:100px;
  background-color:none;
}
img{
  width:100px;
  height:100px;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100px;
}
li{
  display: inline;
}
li a{
  font-size: 20px;
  font-weight: bold;
  float:left;
  display: block;
  width: 200px;
  height: 65px;
  padding-top: 35px;
  text-decoration: none;
  color: black;
  text-align: center;
}
li a:hover{
  background-color: none;
  color: #B90000;
  font-weight: bold;
}
div img {
  margin:0;
}
